@charset "UTF-8";
@import
url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Syne+Mono&display=swap')
;
body:not(form) {
	background:
		url("https://media.istockphoto.com/id/1226897239/vector/sky-blue-and-white-coloured-textured-vector-backgrounds-with-a-subtle-wave-or-marbled-pattern.jpg?s=612x612&w=0&k=20&c=YmwVS4FjCWqBgwWgQsHPjrEDPUvHzbGlcO8We_ucYPs=");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
	width: 100%;
}
.form{
	width: 30%;
	margin: 8% auto;
	padding: 2% 0 5% 0;
	background: rgb(255, 255, 255, 0.45);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(3.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}
.Register{
	font-family: 'Syne Mono', monospace;
	text-align: center;
	font-size: 24px;
	color: rgb(15, 15, 70);
	font-weight: 800;
	padding-bottom: 10px;
}
.name, .email, .password, .repassword, .submit-btn-div{
	width: 80%;
	margin: 0 auto;
}
.enter-name, .enter-password, .enter-email, .enter-repassword {
	padding: 10px 8px;
	margin: 15px 0;
	width: 90%;
	border-radius: 7px;
	border: 1px solid rgb(0, 0, 0);
	background-color: #ffffff;
}
.Reg-btn{
    background: rgb(37, 37, 132);
    border: 1px solid rgba(13, 8, 84, 0.864);
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
    color: #ffffff;
    margin-top: 10px;
    width: 100%;
}
.Reg-btn:hover{
	background: #ffffff;
    color: rgb(37, 37, 132);
}